<h5 class="filter_heading">Item type</h5>
<div class="filter_sub d-flex align-items-center">
  <ul>
    <li>
      <label for="snowboard">Snowboard</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Helmet</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Gloves</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Skis</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Goggles</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
  </ul>
</div>

<h5 class="filter_heading">Condition</h5>
<div class="filter_sub d-flex align-items-center">
  <ul>
    <li>
      <label for="snowboard">Brand new</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Excellent</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Very good</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Good</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
    <li>
      <label for="snowboard">Well worn</label>
      <input type="checkbox" id="condition" name="snowboard" value="snowboard">
    </li>
  </ul>
</div>
