<div data-controller="filter" class="filter_sidebar">
  <button class="filter_button btn" data-filter-target="button" data-action="click->filter#expandFilters"><i class="fa-solid fa-sliders fa-l"></i> Filter</button>
    <div class="filters d-none filter py-3 my-3" data-filter-target="filters">
      <div class="d-flex filter-header justify-content-between">
        <h3>Filters</h3>
        <button data-action="click->filter#closeFilters" class="btn filter_x" do><i class="fa-solid fa-x"></i></button>
      </div>
      <h5 class="filter_heading">Item type</h5>
      <div class="filter_sub d-flex align-items-center">
        <ul>
          <li>
            <label for="Item type">Snowboard</label>
            <input type="checkbox" name="itemtype" value="Snowboard">
          </li>
          <li>
            <label for="Item type">Helmet</label>
            <input type="checkbox" name="itemtype" value="Helmet">
          </li>
          <li>
            <label for="Item type">Gloves</label>
            <input type="checkbox" name="itemtype" value="Gloves">
          </li>
          <li>
            <label for="Item type">Skis</label>
            <input type="checkbox" name="itemtype" value="Skis">
          </li>
          <li>
            <label for="Item type">Goggles</label>
            <input type="checkbox" name="itemtype" value="Goggles">
          </li>
          <li>
            <label for="Item type">Boots</label>
            <input type="checkbox" name="itemtype" value="Boots">
          </li>
        </ul>
      </div>

      <h5 class="filter_heading">Condition</h5>
      <div class="filter_sub d-flex align-items-center">
        <ul>
          <li>
            <label for="Condition">Brand new</label>
            <input type="checkbox" name="condition" value="Brand new" data-results-filter-target="checkboxCondition" data-action="click->results-filter#filterIndex">
          </li>
          <li>
            <label for="Condition">Excellent</label>
            <input type="checkbox" name="condition" value="Excellent" data-results-filter-target="checkboxCondition" data-action="click->results-filter#filterIndex">
          </li>
          <li>
            <label for="Condition">Very good</label>
            <input type="checkbox" name="condition" value="Very good" data-results-filter-target="checkboxCondition" data-action="click->results-filter#filterIndex">
          </li>
          <li>
            <label for="Condition">Good</label>
            <input type="checkbox" name="condition" value="Good" data-results-filter-target="checkboxCondition" data-action="click->results-filter#filterIndex">
          </li>
          <li>
            <label for="Condition">Well worn</label>
            <input type="checkbox" name="condition" value="Well worn" data-results-filter-target="checkboxCondition" data-action="click->results-filter#filterIndex">
          </li>
        </ul>
      </div>


    </div>
</div>
