<h4><%= listing.name %></h4>
<p><%= cl_image_tag listing.photos.first.key, height: 150, width: 220, crop: :fill %></p>
<p class="mb-0"> <strong>Equipment: </strong> <%= listing.equipment_type %></p>
<p class="mb-1"> <strong>Price per day: </strong> £<%= listing.price_per_day %></p>
