

<div class="index-container" data-controller="results-filter">
  <div class="d-flex">
    <%= render "filters" %>

    <div class="row container d-flex justify-content-center">
      <div class="listings mt-3">
        <div id="listings">
          <% @listings.each do |listing| %>
            <div data-results-filter-target="result" data-id=<%= listing.id %>>
              <%= link_to listing_path(listing) do %>
                <%= render "listing_card", listing:listing %>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
