<div class="index-container">
  <div class="d-flex">
    <%= render "filters" %>

    <div class="row container d-flex justify-content-center">
      <div class="listings mt-3">
        <div id="listings">
          <% @listings.each do |listing| %>
            <%= link_to listing_path(listing) do %>
              <%= render "listing_card", listing:listing %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
