// Specific CSS for your home-page
.info-cards-container{
  display: flex;
  justify-content: space-evenly;
  .info-card {
    background-color: rgb(193, 216, 245);
  }
}

.search-container-banner {
  #search-input {
    border-radius: 32px;
  }
}
