// Specific CSS for your home-page
.info-cards-container{
  margin: 50px 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 90px;

  .info-card {
    // background-color: rgb(90, 111, 156);
    background-image: linear-gradient(to bottom right, rgb(158, 203, 221), white);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
  }

}

.search-container-banner {
  #search-input {
    border-radius: 32px;
  }
}
