<div class="footer">
  <div class="footer-copyright">
    This website is made by SlopeRentals <i class="fa-regular fa-copyright"></i>
  </div>
  <div class="footer-links">
    <%= link_to listings_path do%>
      <i class="fa-solid fa-arrow-up"></i>
    <% end %>
  </div>
</div>
