<div class="row">
  <div class="filters col-3">
    <h3>Filters</h3>
  </div>

  <div class="listings col-8">
    <h3>Listings</h3>
    <div class="cards">
      <div class="card-category">
        <div>
          <img src="https://i.ebayimg.com/images/g/qEkAAOSw0L5lQ9HM/s-l1200.webp" alt="ski goggles"/>
        </div>
        <h3 class="mx-2">Ski goggles</h3>
        <div class="d-flex">
          <div>
            <ul>
              <li>Price per day: £10</li>
              <li>Conditon: Brand new</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Brand: Example</li>
              <li>Size: Large</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

      <div class="card-category">

      </div>

      <div class="card-category">

      </div>
    </div>

  </div>

</div>
