<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "Ski-slope-banner-image-1600x393.jpg" %>);">
    <div class="content container">
      <h1>Find the perfect ski equipment for your snowy holiday</h1>
      <p>Buy and sell skiing equipment in your area</p>
      <div class="search-container-banner">
        <%= render "searchbar" %>
      </div>
    </div>
  </div>

  <div id="info-cards" class="info-cards-container">
    <div class="info-card">
      <h3>Browse items</h3>
      <p>Browse info</p>
    </div>

    <div class="info-card">
      <h3>Buy items</h3>
      <p>Buy info</p>
    </div>

    <div class="info-card">
      <h3>Sell items</h3>
      <p>Sell info</p>
    </div>
  </div>
</div>
