<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "Ski-slope-banner-image-1600x393.jpg" %>);">
    <div class="content container">
      <h1>Find the perfect ski equipment for your snowy holiday</h1>
      <p>Buy and sell skiing equipment in your area</p>
      <div class="search-container-banner">
        <%= render "searchbar" %>
      </div>
    </div>
  </div>

  <div id="info-cards" class="info-cards-container">
    <div class="info-card">
      <h3>Browse items</h3>
      <p>Embrace the snow without breaking the bank! Discover and rent your ideal budget-friendly ski gear on our site.</p>
    </div>

    <div class="info-card">
      <h3> Rent items</h3>
      <p>Experience without ownership! Get your hands on rented items for a hassle-free adventure.</p>
    </div>

    <div class="info-card">
      <h3>Lend items</h3>
      <p>Activate your gear's potential! Rent out your unused ski equipment and convert it into cash while it's stored away.</p>
    </div>
  </div>
</div>
