<div class="bookings-container" data-controller="booking">
  <ul class="list-inline tabs-underlined">
    <li>
      <p class="tab-underlined active" data-action="click->booking#displayBookings" data-booking-target="bookingButton">My Bookings</p>
    </li>
    <li>
      <p class="tab-underlined" data-action="click->booking#displayListings" data-booking-target="listingButton">My Listings</p>
    </li>
  </ul>

  <div data-booking-target="bookings">
    <% @outgoing_offers.each do |offer| %>
      <%= link_to listing_path(offer.listing) do %>
        <%= render "reservation_card", offer:offer %>
      <% end %>
    <% end %>
  </div>
  <div class="d-none" data-booking-target="listings">
    <% @listings.each do |listing| %>
      <%= render "listing_card", listing:listing %>
    <% end %>
  </div>
</div>
