.banner {
  background-size: cover;
  padding: 120px 0;
  margin: 0px;
  height: 700px;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
    font-weight: bold;
  }
  p {
    font-size: 32px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
