.banner {
  background-size: cover;
  padding: 120px 0;
  margin: 0px;
  height: 973px;
  display: flex;
  align-items: center;
  position: relative;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
    font-weight: bold;
  }
  p {
    font-size: 32px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  background-image {
    display: block;
  }
  .fa-arrow-down {
    margin-bottom: 16px;
    font-size: 32px;
    color: white;
    position: absolute; bottom:0; left:50%;
  }
}
