.filter_button {
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 20px;
}

.filter {
  width: 300px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgray;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding-left: 12px;
  height: auto;
}

.filter_sub {
  margin-left: 8px;
}

.filter_heading {
  margin-left: 4px;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

li {
  display: flex;
  justify-content: space-between;
  input {
    margin-left: 10px;
  }
}
