#listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

a {
  text-decoration: none;
}

.search-container-banner {
  align-items: center;
  form {
    height: 80px;
    input {
      font-size: 28px;
    }
  }
  i {
    font-size: 28px;
    color: white;
    margin-left: 8px;
  }
}

.card-category {
  overflow: hidden;
  background: #EEF5FF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 400px;
  min-height: 300px;
  padding: 8px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 8px;
    margin-top: 16px;
  }

  p {
    font-size: 20px;
    opacity: .7;
    margin: 0;
  }

  .card-infos-container {
    width: 95%;
    margin: 0 auto;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-category:hover {
  background: rgb(158, 184, 217);
  transition: all 0.5s ease;
}

.card-category .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin-left: 8px;
  }
  .seller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.card-infos-price {
  min-width: fit-content;
}


.card-infos .card-seller {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
