.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  margin-left: 16px;
}

#search-form {
  input {
    border-radius: 30px;
  }
}
