.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0px;

  h3 {
    margin-left: 8px;
    margin-bottom: 0px;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
  margin-left: 16px;
}

#search-form {
  input {
    border-radius: 30px;
  }
}
