.container {

  margin: 0 auto;
  width: 80%;

  .product-img {
    margin-bottom: 50px;
    img {
      justify-content: center;
      height: 28em;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      margin: 0;
      padding: 0;
    }
  }

  .booking-form {
    border: 1px solid grey;
    box-shadow: rgba(0,0,0,0.12) 0px 6px 16px;
    border-radius: 12px;
    padding: 20px;
  }

  .btn {
    border-radius: 5px ;
  }

  ul {
    list-style: none;
  }

  ul li {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
